@model IEnumerable<ProductManager.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qnt)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductCategory.NAME) *@
        </th>
        <th></th>
    </tr>


</table>
